<form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
  <fieldset>
    <label for="title-order">Title</label>
    <input
      id="title-order"
      name="title-order"
      type="text"
      [(ngModel)]="model.title"
      #title="ngModel"
      required
      minlength="5"
    />
    <div *ngIf="title.errors && myForm.submitted">
      <span *ngIf="title.errors['required']">Le titre est requis.</span>
      <span *ngIf="title.errors['minlength']"
        >Le titre doit contenir au moins 5 caractères.</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="quantity-order">Quantité</label>
    <input
      id="quantity-order"
      name="quantity-order"
      type="number"
      [(ngModel)]="model.quantity"
      required
      #quantity="ngModel"
    />
    <div *ngIf="quantity.errors && myForm.submitted">
      <span *ngIf="quantity.errors['required']">La quantité est requise.</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="date-order">Date de commande</label>
    <input
      id="date-order"
      name="date-order"
      type="date"
      [(ngModel)]="model.date"
      #date="ngModel"
      required
    />
    <div *ngIf="date.errors && myForm.submitted">
      <span *ngIf="date.errors['required']"
        >Merci de sélectionner une date</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="contact-order">Contact</label>
    <input
      id="contact-order"
      name="contact-order"
      type="email"
      [(ngModel)]="model.contact"
      #contact="ngModel"
      required
      email
    />
    <div *ngIf="contact.errors && myForm.submitted">
      <span *ngIf="contact.errors['required']">La quantité est requise.</span>
      <span *ngIf="contact.errors['email']"
        >Le format de l'adresse mail est invalide.</span
      >
    </div>
  </fieldset>

  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
