/* .block-container {
    height: 100%;
    width: 100%;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
} */

.vital {
    color: red;
    font-weight: bold;
}

ul {
    width: fit-content;
}

.targeted {
    font-size: 18px;
    color: rgba(76, 5, 126, 0.847);
}